body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.container {
  width: 500px;
  margin: 50px auto;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 0px;
  min-height: 211px;
}

.header {
  background-color: #0619c0;
  padding: 30px 40px;
  color: #ffffff;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  font-size: 16px;
}

.add-button {
  padding: 10px;
  margin: 0px;
  width: 25%;
  background: #eeeeee;
  color: #000000;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.add-button:hover {
  background-color: #d9d9d9;
}

ul {
  padding: 0px;
  margin: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #dddddd;
  font-size: 18px;
  list-style: none;
  transition: 2.5s;

}

ul li:hover {
  background: #bbbbbb;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
  transition: 2.5s;

}

ul li:nth-child(odd):hover {
  background: #eeeeee;
}

ul li:nth-last-child(1) {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

ul li.checked {
  text-decoration: line-through;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 40px;
}

.close:hover {
  background-color: #0619c0;
  color: white;
}

ul li:nth-last-child(1) .close {
  border-bottom-right-radius: 20px;
}